


  @media screen and (max-width: 600px) {
    /* styles for small screens */
    .ui-shell-header {
        position: fixed; /* Fixed position to stay on top */
        top: 0;
        left: 10px; /* Adjusted for padding on the left */
        right: 10px; /* Adjusted for padding on the right */
        padding: 10px; /* Internal padding */
        width: calc(100% - 20px); /* Width adjusted for padding */
        height: 8.6vh; /* 30% of viewport height */
        background-color: white; /* White background */
        color: rgb(7, 142, 142); /* Text color */
        z-index: 1000; /* High z-index to stay above other elements */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
        display: flex; /* Flexbox for centering content */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
    }
    
    .stories-ring {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px; /* add 10px margin around the element */
      }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1000px) {
    /* styles for medium screens */
    .ui-shell-header {
        position: fixed; /* Fixed position to stay on top */
        top: 0;
        left: 10px; /* Adjusted for padding on the left */
        right: 10px; /* Adjusted for padding on the right */
        padding: 10px; /* Internal padding */
        width: calc(100% - 20px); /* Width adjusted for padding */
        height: 10.6vh; /* 30% of viewport height */
        background-color: white; /* White background */
        color: rgb(7, 142, 142); /* Text color */
        z-index: 1000; /* High z-index to stay above other elements */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
        display: flex; /* Flexbox for centering content */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
    }
    
    .stories-ring {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px; /* add 10px margin around the element */
      }
  }
  
  @media screen and (min-width: 1001px) {
    /* styles for large screens */
    .ui-shell-header {
        position: fixed; /* Fixed position to stay on top */
        top: 0;
        left: 10px; /* Adjusted for padding on the left */
        right: 10px; /* Adjusted for padding on the right */
        padding: 10px; /* Internal padding */
        width: calc(100% - 20px); /* Width adjusted for padding */
        height: 13.6vh; /* 30% of viewport height */
        background-color: white; /* White background */
        color: rgb(7, 142, 142); /* Text color */
        z-index: 1000; /* High z-index to stay above other elements */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
        display: flex; /* Flexbox for centering content */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
    }
    
    .stories-ring {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px; /* add 10px margin around the element */
      }
  }