


  

  @media screen and (max-width: 600px) {
    .circular-ring {

      height: 30px;
      width: 30px; 
      border-radius: 50%;
      background: linear-gradient(45deg, 
    rgb(245, 48, 169), 
    rgb(253, 144, 78), 
    rgb(253, 231, 76), 
    rgb(64, 191, 213), 
    rgb(136, 84, 208), 
    rgb(246, 162, 194), 
    rgb(255, 204, 128));
    
     
  
    }
    
    .ring-inner {
  
      position: absolute;
      height: 25px;
      width: 25px; 
      /* padding: 4px; */
      border-radius: 50%;
      background-color:white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
  
      
    }
  
    .logo {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover; /* or object-fit: contain */
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1000px) {
    /* styles for medium screens */
    .circular-ring {

      height: 50px;
      width: 50px; 
      border-radius: 50%;
      background: linear-gradient(45deg, 
    rgb(245, 48, 169), 
    rgb(253, 144, 78), 
    rgb(253, 231, 76), 
    rgb(64, 191, 213), 
    rgb(136, 84, 208), 
    rgb(246, 162, 194), 
    rgb(255, 204, 128));
     
  
    }
    
    .ring-inner {
  
      position: absolute;
      height: 45px;
      width: 45px; 
      /* padding: 4px; */
      border-radius: 50%;
      background-color:white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
  
      
    }
  
    .logo {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover; /* or object-fit: contain */
    }
  }
  
  @media screen and (min-width: 1001px) {
    /* styles for large screens */
    .circular-ring {

      height: 70px;
      width: 70px; 
      border-radius: 50%;
      background: linear-gradient(45deg, 
    rgb(245, 48, 169), 
    rgb(253, 144, 78), 
    rgb(253, 231, 76), 
    rgb(64, 191, 213), 
    rgb(136, 84, 208), 
    rgb(246, 162, 194), 
    rgb(255, 204, 128));
     
  
    }
    
    .ring-inner {
  
      position: absolute;
      height: 60px;
      width: 60px; 
      /* padding: 4px; */
      border-radius: 50%;
      background-color:white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
  
      
    }
  
    .logo {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover; /* or object-fit: contain */
    }
  }