body {
  margin:0;
  padding:0;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 70px 10px 0;
  width: 100%;
  min-height: 100vh;
}

.car_image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.car_name,
.car_price {
  color: #2f2f2f;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 10px;
  letter-spacing: 3px;
}

.car_name:hover {
  opacity: 1;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.arrow_image_container {
  position: relative;
}

.forward_arrow_container,
.back_arrow_container {
  position: absolute;
  width: 20%;
  height: 95%;
  top: 10px;
  z-index: 10;
}

.forward_arrow_container {
  right: 10px;
}

.back_arrow_container {
  left: 10px;
}

.forward_arrow,
.back_arrow {
  margin-top: 150px;
  opacity: 0;
  height: 30px;
  width: 30px;
  transition: opacity 0.3s ease;
}

.forward_arrow {
  margin-left: 50px;
}

.back_arrow {
  margin-right: 50px;
}

.forward_arrow:hover,
.back_arrow:hover {
  opacity: 1;
}

.middle_arrow_container {
  position: absolute;
  width: auto;
  height: 95%;
  top: 10px;
  left: 92px;
  right: 92px;
  z-index: 11;
}

.home_button {
  border: none;
  margin-left: 50%;
  bottom: 0;
  color: #364a72;
  display: block;
  transition: border 0.3s ease;
}

.home_button:hover {
  border: solid;
  border-color: rgb(7, 142, 142);
}

.car_container {
  height: auto;
  width: 100vw;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  flex: 1 0 calc(25% - 20px);
  max-width: 380px;
  min-width: 250px;
  
}

.compare_button {
  border: none;
  color: rgb(7, 142, 142);
  background-color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.compare_button:hover {
  color: rgb(117, 12, 17);
}

@media screen and (max-width: 1200px) {
  .car_container {
    flex: 1 0 calc(33.33% - 20px);
  }
}

@media screen and (max-width: 900px) {
  .car_container {
    flex: 1 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .car_container {
    flex: 1 0 100%;
    max-width: none;
  }
  
  .forward_arrow,
  .back_arrow {
    margin-top: 50%;
  }
}