.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.input_container,.add-car_button {
  margin-top: 10px;

}
 .input{
  padding: 10px 10px;
  width: 100%;

 }
 .add_car_button{
  background-color: green;
  height: 10%;
 }
 