.grid{
  display: flex;
  flex-direction: row;
  flex: 1 1 1 1 ;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  padding: 10px;
  margin-top: 70px;
}

.car-container{
  height: 400px;
  width: 400px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;



}



   .car-container:blank {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgba(218, 211, 211, 0.953);
    z-index: 1000; 
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, background-color 0.3s ease; 

} 

.top-navigation{
  background-color: rgb(236, 74, 101);
  position: absolute;
  position: fixed;
  top: 0px;
  height: 40px;
  padding: 10px;
  width: 100%;
  z-index: 1050;
  opacity: 0.1;
  
}

.car-image{
  width: 100%;
  
}
car-image :hover{
  transform: scale(1.1); /* Increase the scale to 1.1 or any desired value */

  
}
.car-name, .car-price {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 3px;
}
.car-name :hover{
  color: blue;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.arrow-image-container{
  position: relative;
}
.forward-arrow-container {
  position: absolute; /* Position relative to .car-container */
  width: 20%;
  height: 95%;
  top: 10px; /* Adjust the position */
  right: 10px; /* Adjust the position */
  z-index: 1000000; /* Ensure it's above other content */
}
.forward-arrow {
  margin-left: 50px;
  margin-top: 150px;
  opacity: 0;
  height: 30px;
  width: 30px;
}


.forward-arrow:hover {
  opacity: 1;
  
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.back-arrow-container{
  position: absolute; /* Position relative to .car-container */
  width: 20%;
  height: 95%;
  top: 10px; /* Adjust the position */
  left: 10px; /* Adjust the position */
  z-index: 1000000; /* Ensure it's above other content */
  /* background-color: red; */

}
.back-arrow{
  margin-right: 50px;
  margin-top: 150px;
  opacity: 0;
  height: 30px;
  width: 30px;
}
.back-arrow:hover{
  opacity: 1;
}
.add-to-cart-button {
  
  margin-left: 100px;
  margin-bottom: 10px;
}

.add-to-cart-button:hover {
  background-color: #45a049; /* Darker Green */
}