.grid{
  display: flex;
  flex-direction: row;
  flex: 1 1 1 1 ;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.car-container{
  height: 400px;
  width: 400px;
  margin-bottom: 30px;

}
.div-1{
  background-color: aquamarine;

}
.div-2{
  background-color: rgb(151, 101, 101);

}
.top-navigation{
  background-color: rgb(236, 74, 101);
  height: 40px;
  padding: 10px;
  width: auto;
}